:root {
    /* pallete */
    --pal0: #37235E;
    --pal1: #5B3A98;
    --pal2: #8052D2;
    --pal3: #9B62EB;
    --pal4: #C38BFF;
    --pal5: #DFACFF;
    --pal6: #F7C8FF;
    --pal7: #FDF0FF;

    --darker: var(--pal0);
    --header: var(--pal2);
    --dark: var(--pal1);
    --mid: var(--pal4);
    --light: var(--pal6);
    --white: var(--pal7);
    --font: "Carter One";

    --dynamic_height: 100vh;
    --navwidth:260px;
    --sidegridwidth: 180px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--mid) transparent;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--mid);
    border-radius: 3px;
}

/* header */
.icon {
    width: 32px;
    height: 32px;
    padding: 0;
    background-size: 64px 32px;
    background-repeat: no-repeat;
    background-position-x: 0;
}
.nav-item:hover > .icon {
    background-position-x: -32px;
}

.icon.icon-cat { background-image: url(/icons/cat.webp);}
.icon.icon-book { background-image: url(/icons/book.webp);}
.icon.icon-team { background-image: url(/icons/team.webp);}




.nav-item.icon-mainstory{
    background-image: url(/icons/cat.webp);
}
.nav-item.icon-mainstory:hover{
    background-image: url(/icons/cat_hover.webp);
}

.nav-item.sidequests{
    background-image: url(/icons/book.webp);
}
.nav-item.sidequests:hover{
    background-image: url(/icons/book.webp);
}

.nav-item.icon-party{
    background-image: url(/icons/team.webp);
}
.nav-item.icon-party:hover{
    background-image: url(/icons/team_hover.webp);
}

/* footer  */


@keyframes anim-icon-discord {
    0% {transform: scale(.8,1.25) translateY(0px);}
    20% {transform: scale(1) translateY(-3px);}
    25% {transform: scale(1) translateY(-4px);}
    40% {transform: scale(.8,1.25) translateY(-2px);}
    55% {transform: scale(1) translateY(0);}
    75% {transform: scale(1.25,.8);}
    100% {transform: none;}
}
.social-btn.icon-discord{
    background-image: url(/icons/discord.webp);
    background-position-x: 0;
}
.social-btn.icon-discord:hover{
    background-position-x: -32px;
}
.social-btn.icon-discord.animating{
    background-position-x: -32px;
    animation: anim-icon-discord .5s linear 0s 1;
}

@keyframes anim-icon-bluesky {
    from { background-position-x: -32px; }
    to { background-position-x: 0px; }
}
.social-btn.icon-bluesky{
    background-image: url(/icons/bluesky.webp);
    background-position-x: 0;
}
.social-btn.icon-bluesky:hover{
    animation: anim-icon-bluesky 300ms steps(2,jump-none) 100ms infinite;
}
@keyframes anim-icon-mail {
    from { background-position-x: -32px; }
    to { background-position-x: -64px; }
}
.social-btn.icon-mail{
    background-position: 0;
    background-image: url(/icons/mail.webp);
}
.social-btn.icon-mail:hover{
    background-position: -32px;
    animation: anim-icon-mail 500ms steps(2,jump-none) infinite;
}

.loading {
    background-image: url(/loading.webp);
    background-repeat: no-repeat;
    background-position: center;
}